// Breakpoints
$breakpt-lg: 1200px;
$breakpt-md: 992px;
$breakpt-sm: 768px;
$breakpt-xs: 540px;

// Navbar collapse
$screen-md-min: $breakpt-md !default;
$grid-float-breakpoint: $screen-md-min;
$grid-float-breakpoint-max: ($grid-float-breakpoint - 1) !default;

// Colors
$colors: (

);

$white: #fff;
$black: #000;

$light-grey-2: #fefefe;
$light-grey-1: #eee;
$light-grey: #ccc;
$light-grey-0: #bbb;

$medium-grey-1: #aaa;
$medium-grey: #999;
$medium-grey-0: #777;

$dark-grey-1: #494949;
$dark-grey: #333;
$dark-grey-0: #222;

// Typography
$fonts: (
    1: "champagnelimousines regular",
    1i: "champagnelimousines italic",
    1b: "champagnelimousines bold",
    1bi: "champagnelimousines BdIt",
);
